@use "@angular/material" as mat;
@include mat.core();
@include mat.elevation-classes();

$my-custom-primary: mat.m2-define-palette(
  (
    50: #fde0e0,
    100: #fab3b3,
    200: #f08080,
    300: #e04f4f,
    400: #d33434,
    500: #c00000,
    // main
    600: #a80000,
    700: #8f0000,
    // darker
    800: #760000,
    900: #5c0000,
    A100: #ffbdbd,
    A200: #ff8a8a,
    A400: #ff5252,
    A700: #ff1744,
    contrast: (
      50: #000,
      100: #000,
      200: #000,
      300: #fff,
      400: #fff,
      500: #fff,
      600: #fff,
      700: #fff,
      800: #fff,
      900: #fff,
      A100: #000,
      A200: #000,
      A400: #fff,
      A700: #fff,
    ),
  ),
  500,
  // default
  300,
  // lighter
  700 // darker
);

$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-custom-primary,
      accent: $my-accent,
    ),
  )
);

@include mat.all-component-themes($my-theme);
