<h1>Packages</h1>

<div class="dashboard-widgets">
  <app-widget-container [columns]="1" [rows]="1">
    <div style="display: flex; gap: 16px; flex-direction: column">
      <label>angular-cd-timer: </label>
      <div>
        <cd-timer
          [startTime]="100"
          [endTime]="0"
          [countdown]="true"
          [autoStart]="true"
          format="ms"
        >
        </cd-timer>
      </div>
    </div>
  </app-widget-container>

  <app-widget-container [columns]="1" [rows]="1">
    <div class="container">
      <div>
        <label>html2canvas: </label>
        <div id="capture">
          <h4>element</h4>
        </div>
      </div>
      <div>
        <p-dialog
          header="Show Image"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [maximizable]="true"
        >
          <img [src]="imageBase" />
        </p-dialog>
        <p-button
          variant="outlined"
          label="Show"
          (onClick)="handleCapture()"
        ></p-button>
      </div>
    </div>
  </app-widget-container>

  <app-widget-container [columns]="1" [rows]="1">
    <label>Jalali / moment js: </label>
    <h4>{{ "2025-05-16" | jalali }}</h4>
    <h4>{{ "2025-05-16" | momentFormat }}</h4>
  </app-widget-container>

  <app-widget-container [columns]="1" [rows]="1">
    <div style="display: flex; gap: 16px; flex-direction: column">
      <label>JSpdf: </label>
      <div>
        <p-button variant="outlined" (onClick)="pdfGenerator()"
          >Generate PDF</p-button
        >
      </div>
    </div>
  </app-widget-container>

  <app-widget-container [columns]="2" [rows]="2">
    <div style="display: flex; gap: 16px; flex-direction: column">
      <label>ng-select: </label>
      <div>
        <ng-select
          [items]="cars"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedCar"
        >
        </ng-select>
      </div>
    </div>
  </app-widget-container>

  <app-widget-container [columns]="1" [rows]="1">
    <div style="display: flex; gap: 16px; flex-direction: column">
      <label>Qeydar Date and Time Pickers: </label>
      <div>
        <qeydar-date-picker
          [(ngModel)]="selectedDate"
          [calendarType]="'jalali'"
        ></qeydar-date-picker>
      </div>
    </div>
  </app-widget-container>

  <app-widget-container [columns]="1" [rows]="1">
    <div style="display: flex; gap: 16px; flex-direction: column">
      <label>ngx-lightbox: </label>
      <div *ngFor="let image of _album; let i = index">
        <img [src]="image.thumb" (click)="open(i)" />
      </div>
    </div>
  </app-widget-container>
</div>
