<p-table
  [value]="users"
  class="p-table"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Details</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template #body let-user>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a
          style="color: green"
          class="list-link"
          [routerLink]="['/userDetails']"
          [queryParams]="{ id: user.id, name: user.name, email: user.email }"
        >
          <p-button styleClass="p-button-text" label="Details" />
        </a>
      </td>
      <td>
        <p-button
          icon="pi pi-trash"
          [style]="{ color: 'red' }"
          styleClass="p-button-text"
          (onClick)="removeUser(user.id)"
        >
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
