:host {
}

.row {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.stat {
  font-size: 14px;
  font-weight: 900;
  text-shadow: 1px 1px 1px #5f5f5f7e;
}

.stat-subtext {
  line-height: 0px;
  color: gray;
  font-weight: bold;
}
