.row {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.text-green {
  color: green;
}

.stat {
  font-size: 14px;
  font-weight: 900;
}

.stat-subtext {
  line-height: 0px;
  color: gray;
  font-weight: bold;
}
