<a
  class="menu-item"
  mat-list-item
  [routerLink]="item().route"
  routerLinkActive="selected-menu-item"
  #rla="routerLinkActive"
  [activated]="rla.isActive"
  (click)="item().label === 'log out' ? handleLogOut() : toggleNested()"
>
  <mat-icon
    [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
    matListItemIcon
    >{{ item().icon }}</mat-icon
  >
  <span matListItemTitle *ngIf="!collapsed">{{ item().label }}</span>

  <span matListItemMeta *ngIf="item().subItems">
    <mat-icon *ngIf="nestedMenuOpen(); else notNestedMenuOpen"
      >expand_less</mat-icon
    >
    <ng-template #notNestedMenuOpen>
      <mat-icon>expand_more</mat-icon>
    </ng-template>
  </span>
</a>

<div @expandContractMenu *ngIf="item().subItems && nestedMenuOpen()">
  <a
    *ngFor="let subItem of item().subItems"
    class="menu-item indented"
    mat-list-item
    [class.indented]="!collapsed"
    [routerLink]="item().route + '/' + subItem.route"
    routerLinkActive
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ subItem.icon }}</mat-icon
    >
    <span matListItemTitle *ngIf="!collapsed">{{ subItem.label }}</span>
  </a>
</div>
