<div class="header">
  <h1>Channel Dashboard</h1>
  <button
    style="color: #005bb1"
    mat-raised-button
    [matMenuTriggerFor]="widgetMenu"
  >
    <mat-icon>add_circle</mat-icon>
    Add Widget
  </button>

  <mat-menu #widgetMenu="matMenu">
    @for (w of widgetsToAdd; track w.id) {
    <button mat-menu-item (click)="addWidget(w)">
      {{ w.label }}
    </button>
    } @empty {
    <button mat-menu-item>No Widget to add.</button>
    }
  </mat-menu>
</div>

<div #dashboard class="dashboard-widgets">
  @for (w of addedWidgets; track w.id) {
  <app-widget [data]="w" />
  }
</div>
