<div class="header">
  <h1>Channel Dashboard</h1>
  <button
    style="color: #005bb1"
    mat-raised-button
    [matMenuTriggerFor]="widgetMenu"
  >
    <mat-icon>add_circle</mat-icon>
    Add Widget
  </button>

  <mat-menu #widgetMenu="matMenu">
    <button mat-menu-item></button>
    <button mat-menu-item>No Widget to add.</button>
  </mat-menu>
</div>

<div #dashboard class="dashboard-widgets">
  @for (data of widgetData; track data.id) {
  <app-widget-container
    [label]="data.label"
    [color]="data.color"
    [backgroundColor]="data.backgroundColor"
    [columns]="data.columns"
    [rows]="data.rows"
    [id]="data.id"
  >
    <app-widget
      [interaction]="data.interaction"
      [progress]="data.progress"
      [iconType]="data.iconType"
    ></app-widget>
  </app-widget-container>
  }
</div>
